 p{
    color: black;
    font-weight: bold;
}
.info {
  text-align: center;
  color: black;
}
    .hiper {
      text-align: center;
      color: red;
    }
        #a {
          text-align: center;
          color: wheat;
        }
            #b {
              text-align: center;
              color: white;
            }
            #t {
                text-align: center;
                color: white;
              }
            a:hover{
              color: blue
            }
            a:hover{
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
            }
            h1{
              background-color:goldenrod
            }
            img:hover{
            width: 250px
            }